body {
  width: 100%;
}
.content {
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 10px 10px #f7e6ff;
  border: 1px solid #f7e6ff;
  margin-top: 30px;
  background-color: #fff;
}
h1, h2 {
  text-align: center;
  color: #470066;
  font-family: 'Indie Flower', cursive;
}
li {
  display: inline-block;
  padding: 20px;
}
ul {
  text-align: center;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  color: #000;
}
footer {
  text-align: center;
  padding: 10px;
  color: #470066;
}
img {
  width: 400px;
  padding: 10px;
  float: left;
}
h3 {
  text-align: center;
  margin-top: 10%;
  color: #9c4be7;
  font-family: 'Indie Flower', cursive;
}
.animal{
  width: 80%;
  margin-left: 10%;
}
.animal p {
  font-size: 20px;
}
